<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">
	<div class="three columns">		
		<nav id="sidebar-nav-holder" class="vertical-nav" gumby-fixed="40px" style="padding-top: 80px">
	      	<ul id="sidebar-nav">				
				<li>
					<%= link_to year_2011_path do %>
						Фотографии улиц 2011 год
					<% end %>
				</li>
				<li>
					<%= link_to old_zarechny_path do %>
						Рождение Заречного
					<% end %>
				</li>
				<li class="active">
					<%= link_to city_from_above_path do %>
						Заречный с высоты
					<% end %>
				</li>
				<li>
					<%= link_to baes_gallery_path do %>
						Белоярская АЭС
					<% end %>
				</li>
				<li>
					<%= link_to aleschenkova_boulevard_gallery_path do %>
						Бульвар Алещенкова
					<% end %>
				</li>				
				<li>
					<%= link_to carnaval_gallery_part_1_path do %>
						Карнавал в Заречном: Часть I (подборка 2000 - 2010 года)
					<% end %>
				</li>
				<li>
					<%= link_to carnaval_gallery_part_2_path do %>
						Карнавал в Заречном: Часть II (подборка 2000 - 2010 года)
					<% end %>
				</li>
				<li>
					<%= link_to carnaval_gallery_part_3_path do %>
						Карнавал в Заречном: Часть III (подборка 2000 - 2010 года)
					<% end %>
				</li>
			</ul>
		</nav>
	</div>

	<div class="nine columns">
		<ul class="gallery clearfix">
		<% @gallery.each do |image| %>
			<li class="gallery_li"><a href="/images/gallery/<%= image.file %>" rel="prettyPhoto[gallery2]"><%= image_tag "/images/thumbnails/"+image.file %></a></li>
		<% end %>		
		<ul>
	</div>			
	
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("area[rel^='prettyPhoto']").prettyPhoto();
	
	$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:5000, autoplay_slideshow: true});
	$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',slideshow:10000, hideflash: true});
});
</script>