<div class="well-in-schedule">
	<ul class="nav nav-list-schedule" style="margin-top: 0px; margin-bottom: 0px">
		<li><%= link_to 'Город Заречный и соседи', about_city_path %></li>
		<li><%= link_to 'Градообразующие предприятия', companies_path %></li>
		<li><%= link_to 'БН-800', baes_path %></li>
		<li><%= link_to 'Образовательные учреждения', schools_path %></li>
		<li><%= link_to 'МСЧ-32', msch_path %></li>
		<li><%= link_to 'Клубы', clubs_path %></li>
		<li><%= link_to 'Карнавал', karnaval_path %></li>
		<li><%= link_to 'Достопримечательности', attractions_path %></li>
		<li><%= link_to 'Телецентр', telecenter_path %></li>
		<li><%= link_to 'Люди', lyudi_path %></li>
	</ul>
</div>
